<service>
	<serviceName>soporte</serviceName>
	<serviceDescription><![CDATA[Te ayuda a ponerte en contacto con el servicio de ayuda de Apretaste, y a mantener el registro de tu comunicacion con nosotros]]></serviceDescription>
	<creatorEmail>jaikerkings@yahoo.es</creatorEmail>
	<serviceCategory>comunicaciones</serviceCategory>
	<serviceUsage>
		<![CDATA[
			Escriba un nuevo email para {APRETASTE_EMAIL} y en el asunto ponga la palabra SOPORTE seguido del texto que describe tu problema

			Por ejemplo:
			Para: {APRETASTE_EMAIL}
			Asunto: SOPORTE El servicio X no funciona correctamente 

			Recibir&aacute; un email confirmando que has creado una nueva solicitud de soporte.
			
			Otro ejemplo:
			Para: {APRETASTE_EMAIL}
			Asunto: SOPORTE

			Recibir&aacute; un email con una lista de las notas que has enviado al soporte y las respuestas recibidas.
		]]>
	</serviceUsage>
</service>